* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 0, 0);
    display: flex;
    left: 0px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    height: 60px;
    top: 0px;
    z-index: 1000;
    padding: 10px;
}

footer{
    background-color:rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
    position: sticky;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 500px;
}

nav a{
    color: #fff;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 20px;
    transition: color 0.3s ease;
    border: 2px solid #fff;
    border-radius: 5px;
}

nav a:hover{
    color: #fff;
    background-color: #84e859;
    
}

.contenedor_principal{
    display: flex;
    gap: 20px;
    background-color: rgb(10, 63, 10);
}

div main{
    flex: 1;
    background-color: #a0ed57;
    padding: 20px;
    min-height: 490px;
    overflow-y: auto;
}

div #as_derecho{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Para que haya un espacio entre las cajas */
    padding: 20px;
    width: 300px;
    min-height: 490px;
    flex-shrink: 0; /* Para que no se deforme el aside */
}

#as_derecho2{
    display: flex;
    flex-direction: column;
    gap: 15px; /* Para que haya un espacio entre las cajas */
    padding: 20px;
    width: 300px;
    min-height: 490px;
    flex-shrink: 0; /* Para que no se deforme el aside */
}

.caja-formulario, .caja-publicidad{
    width: 100%;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.caja-formulario form{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 10px;
}

.caja-formulario h2, .caja-formulario label,
.caja-formulario, .caja-publicidad{
    color:#fff;
}

.caja-formulario input, .caja-formulario textarea{
    width: 100%;
    box-sizing: border-box;
}

.caja-formulario button{
    background-color: rgb(111, 111, 89);
    color: white;
    padding: 8px;
}

